/* 
    Pre-defined color set 
*/
/* 
Pricing table
=============================
*/
.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 0px 18px 3px #e0e0e0, 0px 0px 50px #9b9a9a;
          box-shadow: 0px 0px 18px 3px #e0e0e0, 0px 0px 50px #9b9a9a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Color variants */
  /* design variants */
}

.pricing-table.table-red.rounded .price-column {
  border: 2px solid #ff5757;
}

.pricing-table.table-red.highlighed .price-column.active .header::before {
  background: #fd7575;
}

.pricing-table.table-red.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #fd7575 !important;
}

.pricing-table.table-red.text-only .price-column .header {
  background: #ff5757 !important;
}

.pricing-table.table-red .price-column:hover {
  background: #f3caca;
}

.pricing-table.table-red .price-column.active {
  background: #ff5757;
}

.pricing-table.table-red .price-column.active:hover {
  background: #d24040;
}

.pricing-table.table-red .price-column .column-price {
  color: #ff5757;
}

.pricing-table.table-red .price-column .btn-go {
  background: #ff5757 !important;
  color: #fff;
  border: 1px solid #ff5757 !important;
}

.pricing-table.table-red .price-column .btn-go:hover {
  background: none !important;
  color: #ff5757 !important;
}

.pricing-table.table-yellow.rounded .price-column {
  border: 2px solid #ffd710;
}

.pricing-table.table-yellow.highlighed .price-column.active .header::before {
  background: #f7e383;
}

.pricing-table.table-yellow.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #f7e383 !important;
}

.pricing-table.table-yellow.text-only .price-column .header {
  background: #ffd710 !important;
}

.pricing-table.table-yellow .price-column:hover {
  background: #faeca6;
}

.pricing-table.table-yellow .price-column.active {
  background: #ffd710;
}

.pricing-table.table-yellow .price-column.active:hover {
  background: #ddbb12;
}

.pricing-table.table-yellow .price-column .column-price {
  color: #ffd710;
}

.pricing-table.table-yellow .price-column .btn-go {
  background: #ffd710 !important;
  color: #fff;
  border: 1px solid #ffd710 !important;
}

.pricing-table.table-yellow .price-column .btn-go:hover {
  background: none !important;
  color: #ffd710 !important;
}

.pricing-table.table-green.rounded .price-column {
  border: 2px solid #0fdf1a;
}

.pricing-table.table-green.highlighed .price-column.active .header::before {
  background: #72f779;
}

.pricing-table.table-green.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #72f779 !important;
}

.pricing-table.table-green.text-only .price-column .header {
  background: #0fdf1a !important;
}

.pricing-table.table-green .price-column:hover {
  background: #b1fab5;
}

.pricing-table.table-green .price-column.active {
  background: #0fdf1a;
}

.pricing-table.table-green .price-column.active:hover {
  background: #0dc416;
}

.pricing-table.table-green .price-column .column-price {
  color: #0fdf1a;
}

.pricing-table.table-green .price-column .btn-go {
  background: #0fdf1a !important;
  color: #fff;
  border: 1px solid #0fdf1a !important;
}

.pricing-table.table-green .price-column .btn-go:hover {
  background: none !important;
  color: #0fdf1a !important;
}

.pricing-table.table-purple.rounded .price-column {
  border: 2px solid #b00cd1;
}

.pricing-table.table-purple.highlighed .price-column.active .header::before {
  background: #e366fc;
}

.pricing-table.table-purple.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #e366fc !important;
}

.pricing-table.table-purple.text-only .price-column .header {
  background: #b00cd1 !important;
}

.pricing-table.table-purple .price-column:hover {
  background: #e693f7;
}

.pricing-table.table-purple .price-column.active {
  background: #b00cd1;
}

.pricing-table.table-purple .price-column.active:hover {
  background: #84099c;
}

.pricing-table.table-purple .price-column .column-price {
  color: #b00cd1;
}

.pricing-table.table-purple .price-column .btn-go {
  background: #b00cd1 !important;
  color: #fff;
  border: 1px solid #b00cd1 !important;
}

.pricing-table.table-purple .price-column .btn-go:hover {
  background: none !important;
  color: #b00cd1 !important;
}

.pricing-table.table-blue.rounded .price-column {
  border: 2px solid #3664fc;
}

.pricing-table.table-blue.highlighed .price-column.active .header::before {
  background: #6588fc;
}

.pricing-table.table-blue.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #6588fc !important;
}

.pricing-table.table-blue.text-only .price-column .header {
  background: #3664fc !important;
}

.pricing-table.table-blue .price-column:hover {
  background: #87a2fc;
}

.pricing-table.table-blue .price-column.active {
  background: #3664fc;
}

.pricing-table.table-blue .price-column.active:hover {
  background: #2a4ec7;
}

.pricing-table.table-blue .price-column .column-price {
  color: #3664fc;
}

.pricing-table.table-blue .price-column .btn-go {
  background: #3664fc !important;
  color: #fff;
  border: 1px solid #3664fc !important;
}

.pricing-table.table-blue .price-column .btn-go:hover {
  background: none !important;
  color: #3664fc !important;
}

.pricing-table.table-dark.rounded .price-column {
  border: 2px solid #3a3a3a;
}

.pricing-table.table-dark.highlighed .price-column.active .header::before {
  background: #969696;
}

.pricing-table.table-dark.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #969696 !important;
}

.pricing-table.table-dark.text-only .price-column .header {
  background: #3a3a3a !important;
}

.pricing-table.table-dark .price-column:hover {
  background: #b8b8b8;
}

.pricing-table.table-dark .price-column.active {
  background: #3a3a3a;
}

.pricing-table.table-dark .price-column.active:hover {
  background: #272727;
}

.pricing-table.table-dark .price-column .column-price {
  color: #3a3a3a;
}

.pricing-table.table-dark .price-column .btn-go {
  background: #3a3a3a !important;
  color: #fff;
  border: 1px solid #3a3a3a !important;
}

.pricing-table.table-dark .price-column .btn-go:hover {
  background: none !important;
  color: #3a3a3a !important;
}

.pricing-table.rounded .price-column {
  border-radius: 10px;
  border: 2px solid #3a3a3a;
}

.pricing-table.rounded .price-column.active {
  border: 2px solid #fff;
}

.pricing-table.highlighed .header::before {
  content: '';
  background: #efefef;
  position: absolute;
  top: -68px;
  left: 35px;
  width: 180px;
  height: 173px;
  -webkit-transform: rotate(36deg);
  transform: rotate(45deg);
  border-radius: 17px;
  z-index: -1;
}

.pricing-table.highlighed .price-column.active .header::before {
  background: #969696;
  left: 50px;
}

.pricing-table.striped .column-item-list li:nth-child(odd) {
  background: #efefef;
}

.pricing-table.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #969696 !important;
}

.pricing-table.text-only .price-column {
  padding: 0px !important;
}

.pricing-table.text-only .price-column .header {
  background: #3a3a3a;
}

.pricing-table.text-only .price-column .header .column-heading {
  font-size: 35px;
  color: #fff;
}

.pricing-table.text-only .price-column .header p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.pricing-table.text-only .price-column.text-center li {
  text-align: center !important;
}

.pricing-table.text-only .price-column.active .header .column-heading {
  color: #fff;
}

.pricing-table.table-icons .price-column .column-item-list {
  margin-left: 20px;
  text-align: left;
}

.pricing-table .price-column {
  width: 250px;
  background: #fff;
  min-width: 170px;
  min-height: 500px;
  margin-left: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 2em;
}

.pricing-table .price-column:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background: #b8b8b8;
}

.pricing-table .price-column.active {
  width: 280px;
  background: #3a3a3a;
  margin-top: -15px;
  margin-bottom: 15px;
}

.pricing-table .price-column.active:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background: #272727;
}

.pricing-table .price-column.active .column-heading {
  color: #fff;
}

.pricing-table .price-column.active .column-price {
  color: #fff;
}

.pricing-table .price-column.active .column-item-list li {
  color: #fff;
}

.pricing-table .price-column.active .btn-go {
  color: #fff;
  background: none;
  border: 1px solid #fff !important;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column.active .btn-go:hover {
  color: #3a3a3a !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column.active .header .pin {
  background: #fff !important;
}

.pricing-table .price-column .header {
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.pricing-table .price-column .header .pin {
  position: absolute;
  top: -9px;
  right: -9px;
  background: #7effa0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 12px;
  padding: 25px 3px 3px 3px;
}

.pricing-table .price-column .column-img {
  height: 90px;
  width: 90px;
  margin-left: calc(50% - 43px);
  margin-top: 20px;
}

.pricing-table .price-column .column-heading {
  font-size: 30px;
  font-weight: bold;
  font: caption;
  text-align: center;
  margin: 10px 0px 10px 0;
  text-transform: uppercase;
  /* display: none; */
}

.pricing-table .price-column .column-price {
  text-align: center;
  font-size: 80px;
  font-family: arial;
  color: #3a3a3a;
  font-weight: lighter;
  margin-top: 8px;
}

.pricing-table .price-column .column-price span {
  font-size: 20px;
}

.pricing-table .price-column .column-item-list {
  padding: 10px;
  list-style: none;
  text-align: center;
  margin-bottom: 120px;
}

.pricing-table .price-column .column-item-list li {
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  padding-left: 5px;
  word-wrap: break-word;
}

.pricing-table .price-column .column-item-list li img {
  height: 15px;
  width: 15px;
  margin-left: 1em;
  margin-right: 1em;
}

.pricing-table .price-column .btn-box {
  width: 100%;
  text-align: center;
  margin: 10px 0px !important;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.pricing-table .price-column .btn-box .btn-go {
  text-decoration: none;
  background: #3a3a3a;
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  font: caption;
  border: 1px solid #3a3a3a;
  white-space: nowrap;
}

.pricing-table .price-column .btn-box .btn-go:hover {
  color: #3a3a3a;
  background: none;
  border: 1px solid #3a3a3a;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column .column-horizontal-gap {
  min-height: 1px;
  width: 50%;
  background: #ccc;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */