/*
Model
=============================
*/
.model {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2196f36e;
}

.model-dialog {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  min-width: 400px;
  /* min-height: 100px; */
  max-width: 1200px;
  border-radius: 8px 8px 8px 8px;
  background: #181818;
  -webkit-box-shadow: 0px 0px 50px 10px #000;
          box-shadow: 0px 0px 50px 10px #000;
}

.model-dialog .model-dialog-header {
  width: inherit;
  position: relative;
  /* top: -71px; */
  background: #fff;
  min-height: 30px;
  min-width: inherit;
  background: #181818;
  border-radius: 8px 8px 0px 0px;
}

.model-dialog .model-dialog-header span {
  padding: 6px 8px;
  position: absolute;
  left: 23px;
  top: 0;
  color: #9c9c9c;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.model-dialog .model-dialog-header .header-icon {
  padding: 6px 8px;
  position: absolute;
  left: 0;
  top: 0;
}

.model-dialog .model-dialog-header .header-icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.model-dialog .model-dialog-header .header-icon img:hover {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.model-dialog .model-dialog-header .header-text {
  text-transform: uppercase;
}

.model-dialog .model-dialog-header .toggle-icon {
  padding: 6px 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.model-dialog .model-dialog-header .toggle-icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reverse-icon {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.model-dialog .model-dialog-body {
  color: #fff;
  overflow: hidden;
  max-height: 2200px;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.41, 0.1, 0.53, 0.9);
          transition-timing-function: cubic-bezier(0.41, 0.1, 0.53, 0.9);
}

.toggle-body {
  -webkit-animation: toggleBody;
          animation: toggleBody;
  /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

@-webkit-keyframes toggleBody {
  from {
    height: auto;
  }
  to {
    height: 0;
  }
}

@keyframes toggleBody {
  from {
    height: auto;
  }
  to {
    height: 0;
  }
}

/* 
Pricing table
=============================
*/
.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 0px 18px 3px #e0e0e0, 0px 0px 50px #9b9a9a;
          box-shadow: 0px 0px 18px 3px #e0e0e0, 0px 0px 50px #9b9a9a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pricing-table.rounded .price-column {
  border-radius: 10px;
  border: 2px solid #3a3a3a;
}

.pricing-table.rounded .price-column.active {
  border: 2px solid #fff;
}

.pricing-table.highlighed .header::before {
  content: '';
  background: #efefef;
  position: absolute;
  top: -68px;
  left: 35px;
  width: 180px;
  height: 173px;
  -webkit-transform: rotate(36deg);
  transform: rotate(45deg);
  border-radius: 17px;
  z-index: -1;
}

.pricing-table.highlighed .price-column.active .header::before {
  background: #969696;
  left: 50px;
}

.pricing-table.striped .column-item-list li:nth-child(odd) {
  background: #efefef;
}

.pricing-table.striped .price-column.active .column-item-list li:nth-child(odd) {
  background: #969696 !important;
}

.pricing-table.text-only .price-column {
  padding: 0px !important;
}

.pricing-table.text-only .price-column .header {
  background: #3a3a3a;
}

.pricing-table.text-only .price-column .header .column-heading {
  font-size: 35px;
  color: #fff;
}

.pricing-table.text-only .price-column .header p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.pricing-table.text-only .price-column.text-center li {
  text-align: center !important;
}

.pricing-table.text-only .price-column.active .header .column-heading {
  color: #fff;
}

.pricing-table.table-icons .price-column .column-item-list {
  margin-left: 20px;
  text-align: left;
}

.pricing-table .price-column {
  width: 250px;
  background: #fff;
  min-width: 170px;
  min-height: 500px;
  margin-left: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 2em;
}

.pricing-table .price-column:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background: #b8b8b8;
}

.pricing-table .price-column.active {
  width: 280px;
  background: #3a3a3a;
  margin-top: -15px;
  margin-bottom: 15px;
}

.pricing-table .price-column.active:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background: #272727;
}

.pricing-table .price-column.active .column-heading {
  color: #fff;
}

.pricing-table .price-column.active .column-price {
  color: #fff;
}

.pricing-table .price-column.active .column-item-list li {
  color: #fff;
}

.pricing-table .price-column.active .btn-go {
  color: #fff;
  background: none;
  border: 1px solid #fff !important;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column.active .btn-go:hover {
  color: #3a3a3a !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column.active .header .pin {
  background: #fff !important;
}

.pricing-table .price-column .header {
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.pricing-table .price-column .header .pin {
  position: absolute;
  top: -9px;
  right: -9px;
  background: #7effa0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 12px;
  padding: 25px 3px 3px 3px;
}

.pricing-table .price-column .column-img {
  height: 90px;
  width: 90px;
  margin-left: calc(50% - 43px);
  margin-top: 20px;
}

.pricing-table .price-column .column-heading {
  font-size: 30px;
  font-weight: bold;
  font: caption;
  text-align: center;
  margin: 10px 0px 10px 0;
  text-transform: uppercase;
  /* display: none; */
}

.pricing-table .price-column .column-price {
  text-align: center;
  font-size: 80px;
  font-family: arial;
  color: #3a3a3a;
  font-weight: lighter;
  margin-top: 8px;
}

.pricing-table .price-column .column-price span {
  font-size: 20px;
}

.pricing-table .price-column .column-item-list {
  padding: 10px;
  list-style: none;
  text-align: center;
  margin-bottom: 120px;
}

.pricing-table .price-column .column-item-list li {
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  padding-left: 5px;
  word-wrap: break-word;
}

.pricing-table .price-column .column-item-list li img {
  height: 15px;
  width: 15px;
  margin-left: 1em;
  margin-right: 1em;
}

.pricing-table .price-column .btn-box {
  width: 100%;
  text-align: center;
  margin: 10px 0px !important;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.pricing-table .price-column .btn-box .btn-go {
  text-decoration: none;
  background: #3a3a3a;
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  font: caption;
  border: 1px solid #3a3a3a;
  white-space: nowrap;
}

.pricing-table .price-column .btn-box .btn-go:hover {
  color: #3a3a3a;
  background: none;
  border: 1px solid #3a3a3a;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pricing-table .price-column .column-horizontal-gap {
  min-height: 1px;
  width: 50%;
  background: #ccc;
  margin: auto;
}

.ptableContainer {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  background: #efefef;
  -webkit-box-shadow: 0px 0px 30px #333;
  box-shadow: -3px 3px 3px #848383, -6px 6px 10px #9c9999;
  padding: 20px;
  border: 0;
  min-height: 90vh;
  z-index: -5;
}

.ptable {
  display: inline-table;
  width: 100%;
  margin: 0;
  border: none;
}

.ptable thead {
  background: #ccc;
}

.ptable thead th {
  font-size: 30px;
}

.ptable thead th .heading {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.ptable tbody tr td:first-child {
  text-align: left;
  position: relative;
}

.ptable tbody tr td {
  padding: 5px;
  background: #ccc;
  text-align: center;
  position: relative;
  z-index: 0;
}

.ptable tbody tr td:hover {
  background-color: #ffa;
}

/*
Lists
=====================
*/
.fp-list-container {
  width: 60%;
  background: rgba(204, 204, 204, 0.5);
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 25px #555;
          box-shadow: 0px 0px 25px #555;
}

.fp-list-block {
  list-style: none;
}

.fp-list-block li {
  background: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  text-align: left;
  vertical-align: text-top;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.fp-list-block li.active {
  background: #83c8ff;
  color: #fff;
}

.fp-list-block li.disabled {
  background: #d8d8d8;
  color: #bbbbbb;
  cursor: not-allowed;
}

.fp-list-block li.disabled:hover {
  background: #d8d8d8;
  color: #bbbbbb;
  cursor: not-allowed;
}

.fp-list-block li:hover {
  background: #83c8ff;
  color: #fff;
}

.fp-list-block li img {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  /* border: 2px solid #333;
    border-radius: 50%; */
}

.fp-list-block li p {
  vertical-align: super;
  display: inline;
}

.badge {
  padding: 0px 5px;
  border-radius: 40px;
  position: absolute;
}

.badge.list-badge {
  /* background: #ff5757; */
  background: #008eff;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  right: 15px;
  top: 10px;
}

/*
Headers
===============================
*/
.nav {
  width: 100%;
  background: #eeeeee;
  min-height: 70px;
  position: relative;
  margin-bottom: 100px;
}

.nav.nav-left .brand {
  left: unset;
  right: 140px !important;
}

.nav.nav-left .navigation {
  position: absolute;
  right: 0px;
}

.nav.nav-left .navigation li ul {
  margin-top: 20px;
}

.nav.nav-left .navigation li .btn-nav {
  position: relative;
}

.nav.nav-center-menu .navigation {
  position: static;
  margin: auto;
  margin-top: 1.6em;
}

.nav.nav-center-menu .navigation li ul {
  margin-top: 20px;
}

.nav.nav-center-menu .navigation li .btn-nav {
  position: absolute !important;
  top: 15px;
}

.nav.nav-flex .brand {
  position: static;
  margin-top: 17px;
}

.nav.nav-flex .navigation {
  position: static;
  margin: auto;
  margin-top: 1.6em;
}

.nav.nav-flex .navigation li ul {
  margin-top: 20px;
}

.nav.nav-flex .navigation li .btn-nav {
  position: absolute !important;
  top: 15px;
}

.nav.nav-flex .social {
  list-style: none;
  position: absolute;
  right: 100px;
  top: 25px;
}

.nav.nav-flex .social li {
  display: inline;
  margin-right: 10px;
}

.nav.nav-flex .social li img {
  height: 15px;
  width: 15px;
}

.nav.nav-flex .social li .btn-nav {
  position: relative !important;
  top: -5px;
}

.nav .brand {
  position: static;
  margin-top: 17px;
}

.nav .brand a {
  text-decoration: none;
  color: #377dc5;
  font-size: 30px;
  font-family: arial;
  text-transform: uppercase;
}

.nav .navigation {
  position: static;
  margin: auto;
  margin-top: 1.6em;
  list-style: none;
}

.nav .navigation li {
  display: inline-block;
  margin-right: 2em;
  font-size: 18px;
  font-family: Arial;
  font-weight: 100;
  color: #a0a0a0;
}

.nav .navigation li ul {
  display: none;
  position: absolute;
  top: 20px;
  max-width: 200px;
}

.nav .navigation li ul li {
  display: block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.3);
  min-width: 200px;
}

.nav .navigation li ul li a {
  text-decoration: none;
  color: #fff;
}

.nav .navigation li ul li:hover {
  background: #377dc5cc;
}

.nav .navigation li:hover ul {
  display: block;
}
/*# sourceMappingURL=main.css.map */