<html>
    <head>
        <title>
            Cards
        </title>
        <link rel="stylesheet" href="../../assets/css/main.css"/>
        <link rel="stylesheet" href="../../assets/css/cards.css"/>
    </head>
    <body>

        <div class="card-container">
            <div class="card">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>59
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-addCart">Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>

            <div class="card card-primary">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>59
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-primary btn-addCart">Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>

            <div class="card card-secondary">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>99
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-secondary btn-addCart" >Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>
        </div>

        <div class="card-container">
            <div class="card card-1">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>59.0
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-addCart">Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>

            <div class="card card-2 card-primary">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>59
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-primary btn-addCart">Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>

            <div class="card card-3 card-secondary">
                <img src="../../assets/images/prod0.png" />
                <div class="title">
                    SMART WATCH
                </div>
                <div class="price">
                    <span>$</span>99
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-secondary btn-addCart" >Add to cart</a>
                </div>
                <div class="discount"><span>15%</span></div>
            </div>
        </div>
    </body>
</html>
