
/* 
Pricing table
=============================
*/ 
  
.pricing-table{
    display: flex;
    // flex-wrap: wrap;
    background:$white;
    width: 100%;
    // margin: auto;
    margin-bottom: 30px;
    padding:20px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 18px 3px rgb(224, 224, 224),
    0px 0px 50px rgb(155, 154, 154);
    box-sizing: border-box;

    /* Color variants */
    &.table-red{
        &.rounded{
            .price-column{
                border:2px solid $red-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$red-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $red-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $red-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$red-primary-hover;
            }

            &.active{
                background:$red-primary;

                &:hover{
                    background:$red-primary-hover-active;
                }
                
            }
            .column-price{
                color:$red-primary;
            }
            .btn-go{
                background:$red-primary !important;
                color:$white;
                border:1px solid $red-primary !important;
                &:hover{
                    background:none !important;
                    color:$red-primary !important;
                }
            }
        }
    }

    &.table-yellow{
        &.rounded{
            .price-column{
                border:2px solid $yellow-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$yellow-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $yellow-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $yellow-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$yellow-primary-hover;
            }

            &.active{
                background:$yellow-primary;

                &:hover{
                    background:$yellow-primary-hover-active;
                }
                
            }
            .column-price{
                color:$yellow-primary;
            }
            .btn-go{
                background:$yellow-primary !important;
                color:$white;
                border:1px solid $yellow-primary !important;
                &:hover{
                    background:none !important;
                    color:$yellow-primary !important;
                }
            }
        }
    }

    &.table-green{
        &.rounded{
            .price-column{
                border:2px solid $green-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$green-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $green-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $green-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$green-primary-hover;
            }

            &.active{
                background:$green-primary;

                &:hover{
                    background:$green-primary-hover-active;
                }
                
            }
            .column-price{
                color:$green-primary;
            }
            .btn-go{
                background:$green-primary !important;
                color:$white;
                border:1px solid $green-primary !important;
                &:hover{
                    background:none !important;
                    color:$green-primary !important;
                }
            }
        }
    }

    &.table-purple{
        &.rounded{
            .price-column{
                border:2px solid $purple-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$purple-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $purple-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $purple-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$purple-primary-hover;
            }

            &.active{
                background:$purple-primary;

                &:hover{
                    background:$purple-primary-hover-active;
                }
                
            }
            .column-price{
                color:$purple-primary;
            }
            .btn-go{
                background:$purple-primary !important;
                color:$white;
                border:1px solid $purple-primary !important;
                &:hover{
                    background:none !important;
                    color:$purple-primary !important;
                }
            }
        }
    }

    &.table-blue{
        &.rounded{
            .price-column{
                border:2px solid $blue-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$blue-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $blue-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $blue-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$blue-primary-hover;
            }

            &.active{
                background:$blue-primary;

                &:hover{
                    background:$blue-primary-hover-active;
                }
                
            }
            .column-price{
                color:$blue-primary;
            }
            .btn-go{
                background:$blue-primary !important;
                color:$white;
                border:1px solid $blue-primary !important;
                &:hover{
                    background:none !important;
                    color:$blue-primary !important;
                }
            }
        }
    }

    &.table-dark{
        &.rounded{
            .price-column{
                border:2px solid $dark-primary;
            }
        }

        &.highlighed{
            .price-column{
                &.active{
                    .header::before{
                        background:$dark-primary-active-highlight;
                    }
                }
            }
        }

        &.striped{
            .price-column{
                &.active{
                    .column-item-list{
                        li:nth-child(odd){
                            background: $dark-primary-active-highlight !important;
                        }
                    }
                }
            }
        }

        &.text-only{
            .price-column{
                .header{
                    background: $dark-primary !important;
                }
            }
        }
       
        .price-column{
            &:hover{
                background:$dark-primary-hover;
            }

            &.active{
                background:$dark-primary;

                &:hover{
                    background:$dark-primary-hover-active;
                }
                
            }
            .column-price{
                color:$dark-primary;
            }
            .btn-go{
                background:$dark-primary !important;
                color:$white;
                border:1px solid $dark-primary !important;
                &:hover{
                    background:none !important;
                    color:$dark-primary !important;
                }
            }
        }
    }

    /* design variants */
    &.rounded{
        .price-column{
            border-radius: 10px;
            border:2px solid $primary;
            &.active{
                border:2px solid $white;

            }
        }
    }

    &.highlighed{
        .header::before{
            content: '';
            background:$light;
            position: absolute;
            top: -68px;
            left: 35px;
            width: 180px;
            height: 173px;
            -webkit-transform: rotate(36deg);
            transform: rotate(45deg);
            border-radius: 17px;
            z-index: -1;
        }
        .price-column{
            // padding: 0px;
            &.active{
                .header::before{
                    background:$primary-active-highlight;
                    left:50px;
                }
            }
        }
    }

    &.striped{
        .column-item-list{
            li:nth-child(odd){
                background: $light;
            }
        }
        .price-column{
            &.active{
                .column-item-list{
                    li:nth-child(odd){
                        background: $primary-active-highlight !important;
                    }
                }
            }
        }
    }

    &.text-only{
        .price-column{
            padding: 0px !important;
            .header{
                background: $primary;
                .column-heading{
                    font-size: 35px;
                    color:$white;
                }
                p{
                    color:$white;
                    text-align: center;
                    font-size: 12px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            &.text-center{
                li{
                    text-align: center !important;
                }
            }

            &.active{
                .header{
                    // background:$white;
                    .column-heading{
                        // color:$primary;
                        color:$white;
                    }
                    
                }
            }
        }
    }

    &.table-icons{
        .price-column{
            .column-item-list{
                margin-left:20px;
                text-align: left;
            }
        }
    }

    .price-column{
        width:250px;
        background: $white;
        min-width: 170px;
        min-height: 500px;
        margin-left:10px;
        padding: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        margin-bottom:2em;

        &:hover{
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
            background: $primary-hover;
        }

        &.active{
            width:280px;
            background: $primary;
            margin-top:-15px;
            margin-bottom: 15px;

            &:hover{
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                background: $primary-hover-active;
            }
            .column-heading{
                color:$white;
            }
            .column-price{
                color: $white;
            }
            .column-item-list li{
                color:$white;
            }
            .btn-go{
                color:$white;
                background: none;
                border:1px solid $white !important;
                transition-duration: 600ms;
            }
            .btn-go{
                &:hover{
                    color:$primary !important;
                    background: $white !important;
                    border:1px solid $white !important;
                    transition-duration: 600ms;
                }
            }
            .header{
                .pin{
                    background: $white !important;
                }
            }

        }

        .header{
            overflow: hidden;
            position: relative;
            z-index: 5;
            .pin{
                position: absolute;
                top: -9px;
                right: -9px;
                background: $primary-pin;
                transform: rotate(45deg);
                font-size: 12px;
                padding: 25px 3px 3px 3px;
            }
        }
        .column-img{
            height: 90px;
            width: 90px;
            margin-left: calc(50% - 43px);
            margin-top: 20px;
        }
        .column-heading{
            font-size: 30px;
            font-weight: bold;
            font: caption;
            text-align: center;
            margin: 10px 0px 10px 0;
            text-transform: uppercase;
            /* display: none; */
        }
        .column-price{
            text-align: center;
            font-size: 80px;
            font-family: arial;
            color: $primary;
            font-weight: lighter;
            margin-top: 8px;

            span{
                font-size:20px;
            }
        }
        .column-item-list{
            padding: 10px;
            list-style: none;
            text-align: center;
            margin-bottom: 120px;

            li{
                line-height: 2;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                font-size: 12px;
                padding-left: 5px;
                word-wrap: break-word;

                img{
                    height: 15px;
                    width: 15px;
                    margin-left:1em;
                    margin-right:1em;
                }
            }
        }
        .btn-box{
            width: 100%;
            text-align: center;
            margin: 10px 0px !important;
            position: absolute;
            left:0;
            bottom:50px;
            
            .btn-go{
                text-decoration: none;
                background: $primary;
                padding: 10px 40px 10px 40px;
                border-radius: 20px;
                color: $white;
                font-weight: 800;
                font: caption;
                border: 1px solid $primary;
                white-space: nowrap;

                &:hover{
                    color:$primary;
                    background: none;
                    border:1px solid $primary;
                    transition-duration: 600ms;
                }
            }
            
        }
        .column-horizontal-gap{
            min-height: 1px;
            width: 50%;
            background: $grey-100;
            margin:auto;
        }
        
        
    } 
    
    
}




