<html>
    
    <head>
        <title>
            Pricing Tables
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../assets/css/main.css"/>
    </head>
    <body>




        <div class="pricing-table">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/airplane.svg"/>
                    <h2 class="column-heading">Advance</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <img class="column-img" src="../../assets/images/vectorpaint.svg"/>
                    <h2 class="column-heading">Advance</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>
        
        <div class="pricing-table rounded">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <img class="column-img" src="../../assets/images/vectorpaint.svg"/>
                    <h2 class="column-heading">Advance</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                </div>                
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table highlighed">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <img class="column-img" src="../../assets/images/vectorpaint.svg"/>
                    <h2 class="column-heading">Advance</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                </div>                
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                    <div class="pin">
                        Preffered
                    </div>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <img class="column-img" src="../../assets/images/vectorpaint.svg"/>
                    <h2 class="column-heading">Advance</h2>
                    <div class="pin">
                        Preffered
                    </div>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                    <div class="pin">
                        Preffered
                    </div>
                </div>                
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table striped">
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/mountain.svg"/>
                    <h2 class="column-heading">Basic</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">9<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <img class="column-img" src="../../assets/images/vectorpaint.svg"/>
                    <h2 class="column-heading">Advance</h2>
                </div>
                <div class="column-horizontal-gap"></div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <img class="column-img" src="../../assets/images/train.svg"/>
                    <h2 class="column-heading">Ultimate</h2>
                 </div>                
                <div class="column-horizontal-gap"></div>
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table text-only">
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Basic</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">9<span>$</span></div>
                
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <h2 class="column-heading">Advance</h2>
                    <p>Best offer</p>
                    <div class="pin">
                        Best offer
                    </div>
                </div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Ultimate</h2>
                    <p>Best offer</p>
                </div>                
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table text-only table-icons" style="display: none;">
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Basic</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">9<span>$</span></div>
                
                <ul class="column-item-list">
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/005-check.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/003-tick-1.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/004-checked-1.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/010-correct-1.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/006-check-1.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column active">
                <div class="header">
                    <h2 class="column-heading">Advance</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/003-error.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/004-cancel-1.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/009-close-2.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/006-close.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/002-cancel.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/005-cancel-2.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Ultimate</h2>
                    <p>Best offer</p>
                </div>                
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/006-close.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/007-checked-2.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/008-close-1.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/008-shield.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/010-close-3.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/009-correct.svg" />Lorem, ipsum dolor.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table text-only table-icons">
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Basic</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">9<span>$</span></div>
                
                <ul class="column-item-list">
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Advance</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Ultimate</h2>
                    <p>Best offer</p>
                </div>                
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/002-tick.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/007-cancel-3.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table text-only table-icons ">
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Basic</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">9<span>$</span></div>
                
                <ul class="column-item-list">
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Advance</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Ultimate</h2>
                    <p>Best offer</p>
                </div>                
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem, ipsum dolor.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit amet.</li>
                    <li><img src="../../assets/images/001-checked.svg" />Lorem ipsum dolor sit.</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" />Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

        <div class="pricing-table text-only table-icons striped" >
            <div class="price-column">
                <div class="header">
                    <h2 class="column-heading">Elements</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">&nbsp;</div>
                
                <ul class="column-item-list">
                    <li>Disk space</li>
                    <li>Monthly bandwidth</li>
                    <li>Subdomains</li>
                    <li>Databases</li>
                    <li>Email accounts</li>
                    <li>Web server</li>
                    <li>Free SSL</li>
                    <li>DDOS protection</li>
                    <li>Python support</li>
                    <li>Technical support</li>
                    <li>Backups</li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" >DEALS</a>
                </div>
            </div>
            <div class="price-column text-center">
                <div class="header">
                    <h2 class="column-heading">Basic</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">9<span>$</span></div>
                
                <ul class="column-item-list">
                    <li>250GB</li>
                    <li>Unlimited</li>
                    <li>5</li>
                    <li>10</li>
                    <li>10</li>
                    <li>Apache / Ngnix</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
            <div class="price-column text-center">
                <div class="header">
                    <h2 class="column-heading">Advance</h2>
                    <p>Best offer</p>
                </div>
                <div class="column-price">39<span>$</span></div>
                <ul class="column-item-list">
                    <li>500GB</li>
                    <li>Unlimited</li>
                    <li>15</li>
                    <li>150</li>
                    <li>150</li>
                    <li>Apache / Ngnix</li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-cancel-4.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                </ul>
                <div  class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>

            </div>
            <div class="price-column text-center">
                <div class="header">
                    <h2 class="column-heading">Ultimate</h2>
                    <p>Best offer</p>
                </div>                
                <div class="column-price">99<span>$</span></div>
                <ul class="column-item-list">
                    <li>Unlimited</li>
                    <li>Unlimited</li>
                    <li>Unlimited</li>
                    <li>Unlimited</li>
                    <li>Unlimited</li>
                    <li>Apache / Ngnix</li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                    <li><img src="../../assets/images/001-checked.svg" /></li>
                </ul>
                <div class="btn-box">
                    <a class="btn btn-go" href="#">BUY NOW</a>
                </div>
            </div>
        </div>

    </body>
    
</html>