<html>
    <head>
        <title>
            Lists
        </title>
        <link rel="stylesheet" href="../../assets/css/main.css" />

    </head>
    <body>
        <div class="fp-list-container">
            <ul class="fp-list-block">
                    <li class="active">
                        <img src="../../assets/images/car-white.svg" />
                        <p>Lorem ipsum dolor </p>
                        <span class="badge list-badge">14</span>
                    </li>
                    <li>
                        <img src="../../assets/images/mountain.svg" />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <span class="badge list-badge">4</span>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li class="disabled">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </li>
            </ul>
        </div>

       
    </body>
</html>