
/* 
Pricing table
=============================
*/

.pricing-table{
    display: flex;
    background:#555;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding:20px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 18px 3px rgb(224, 224, 224),
    0px 0px 50px rgb(155, 154, 154);

    &.rounded{
        .price-column{
            border-radius: 10px;
            border:2px solid #ff5757;
            &.active{
                border:2px solid #ffffff;

            }
        }

    }

    &.highlighed{
        .header{
            overflow: hidden;
            position: relative;
            z-index: 5;
        }
        .header::before{
            content: '';
            // background: linear-gradient(45deg, #55baea, #5e12c1);
            background:#fa8585;
            position: absolute;
            top: -68px;
            left: 35px;
            width: 180px;
            height: 173px;
            -webkit-transform: rotate(36deg);
            transform: rotate(45deg);
            border-radius: 17px;
            z-index: -1;
        }
        .price-column{
            &.active{
                .header::before{
                    background:rgb(223, 118, 118);
                    left:50px;
                }
            }
        }
    }

    .price-column{
        width:250px;
        background: #ffffff;
        min-width: 100px;
        min-height: 500px;
        margin-left:10px;
        padding: 10px;
        position: relative;

        &.active{
            width:280px;
            background: #ff5757;
            margin-top:-15px;
            margin-bottom: 15px;

            .column-heading{
                color:#fff;
            }
            .column-price{
                color: #fff;
            }
            .column-item-list li{
                color:#fff;
            }
            .btn-go{
                color:#fff;
                background: none;
                border:1px solid #fff !important;
                transition-duration: 600ms;
            }
            .btn-go{
                &:hover{
                    color:#ff5757 !important;
                    background: #fff !important;
                    border:1px solid #fff !important;
                    transition-duration: 600ms;
                }
            }
        }

        .column-img{
            height: 90px;
            width: 90px;
            /* border-radius: 50%; */
            /* border: solid #000 2px; */
            margin-left: calc(50% - 50px);
            margin-top: 20px;
        }
        .column-heading{
            font-size: 30px;
            font-weight: bold;
            font: caption;
            text-align: center;
            margin: 10px 0px 10px 0;
            text-transform: uppercase;
            /* display: none; */
        }
        .column-price{
            text-align: center;
            font-size: 80px;
            font-family: arial;
            color: #ff5757;
            font-weight: lighter;
            margin-top: 8px;

            span{
                font-size:20px;
            }
        }

        .column-item-list{
            padding: 10px;
            list-style: none;
            text-align: center;

            li{
                line-height: 2;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                font-size: 12px;
            }
        }
        .btn-box{
            width: 100%;
            text-align: center;
            margin: 10px 0px !important;
            position: absolute;
            left:0;
            bottom:50px;
            
            .btn-go{
                background: #ff5757;
                padding: 10px 40px 10px 40px;
                border-radius: 20px;
                color: #fff;
                font-weight: 800;
                font: caption;
                border: 1px solid #ff5757;

                &:hover{
                    color:#ff5757;
                    background: none;
                    border:1px solid #ff5757;
                    transition-duration: 600ms;
                }
            }
            
        }

        .column-horizontal-gap{
            min-height: 1px;
            width: 50%;
            background: #ccc;
            margin:auto;
        }
        
        
    } 
}




