<html>

    <head>
        <title>
            Headers | collection
        </title>
        <link rel="stylesheet" href="../assets/css/common.css"/>
        <link rel="stylesheet" href="../assets/css/main.css"/>
    </head>
    <body>

        <nav class="nav nav-right">
            <div class="container">

                <div class="brand">
                    <a href="#">FrappyPie</a>
                </div>
                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                </ul>

            </div>
        </nav>



        <nav class="nav nav-left">
            <div class="container">

                <div class="brand">
                    <a href="#">FrappyPie</a>
                </div>
                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                </ul>

            </div>
        </nav>


        <nav class="nav nav-right">
            <div class="container">

                <div class="brand">
                    <a href="#">FrappyPie</a>
                </div>
                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                    <li>
                        <button class="btn">Download</button>
                    </li>
                </ul>

            </div>
        </nav>



        <nav class="nav nav-center-menu">
            <div class="container">

                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                </ul>

            </div>
        </nav>


        <nav class="nav nav-dual">
            <div class="container">

                <div class="brand">
                    <a href="#">FrappyPie</a>
                </div>
                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                    <li>
                        <button class="btn">Download</button>
                    </li>
                </ul>
                <ul class="social">
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                </ul>

            </div>
        </nav>


        <nav class="nav nav-dual">
            <div class="container">

                <div class="brand">
                    <a href="#">FrappyPie</a>
                </div>
                <ul class="navigation">
                    <li>Home</li>
                    <li>
                        Services
                        <ul>
                            <li><a href="#">Service 1</a></li>
                            <li><a href="#">Service 2</a></li>
                            <li><a href="#">Service 3</a></li>
                            <li><a href="#">Service 4</a></li>
                        </ul>
                    </li>
                    <li>
                        Contact us
                        <ul>
                            <li><a href="#">Contact 1</a></li>
                            <li><a href="#">Contact 2</a></li>
                            <li><a href="#">Contact 3</a></li>
                            <li><a href="#">Contact 4</a></li>
                        </ul>
                    </li>
                    <li>Lorem</li>
                    
                </ul>
                <ul class="social">
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                    <li><a href="#"><img src="../assets/images/airplane.svg"/></a></li>
                    <li><button class="btn">Download</button></li>
                </ul>

            </div>
        </nav>

    </body>
</html>