$primary:#3a3a3a;
$primary-hover:#b8b8b8;
$primary-hover-active:#272727;
$primary-active-highlight:#969696;
$primary-pin:#7effa0;

$white:#fff;
$black:#000;
$dark:#333;
$light:#efefef;
$grey-100:#ccc;

/* 
    Pre-defined color set 
*/
$dark-primary:#3a3a3a;
$dark-primary-hover:#b8b8b8;
$dark-primary-hover-active:#272727;
$dark-primary-active-highlight:#969696;
$dark-primary-pin:#7effa0;

$purple-primary:#b00cd1;
$purple-primary-hover:#e693f7;
$purple-primary-hover-active:#84099c;
$purple-primary-active-highlight:#e366fc;
$purple-primary-pin:#7effa0;

$green-primary:#0fdf1a;
$green-primary-hover:#b1fab5;
$green-primary-hover-active:#0dc416;
$green-primary-active-highlight:#72f779;
$green-primary-pin:#7effa0;

$yellow-primary:#ffd710;
$yellow-primary-hover:#faeca6;
$yellow-primary-hover-active:#ddbb12;
$yellow-primary-active-highlight:#f7e383;
$yellow-primary-pin:#7effa0;

$blue-primary:#3664fc;
$blue-primary-hover:#87a2fc;
$blue-primary-hover-active:#2a4ec7;
$blue-primary-active-highlight:#6588fc;
$blue-primary-pin:#7effa0;

$red-primary:#ff5757;
$red-primary-hover:#f3caca;
$red-primary-hover-active:#d24040;
$red-primary-active-highlight:#fd7575;
$red-primary-pin:#7effa0;

