<html>
    <head>
        <title>
            Tables
        </title>
        <link rel="stylesheet" href="../../assets/css/common.css" />
        <link rel="stylesheet" href="../../assets/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="../../assets/css/main.css" />

    </head>
    <body>

        <div class="ptableContainer">

            <table class="ptable">
                <thead>
                    <th>
                        <div>
                            Fields
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            Personal
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            Team
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            Bussiness
                        </div>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        


    </body>
</html>
<script>
    jQuery('td').hover(function() {
    var t = parseInt(jQuery(this).index()) + 1;
    jQuery('td:nth-child(' + t + ')').addClass('highlighted');
},
function() {
    var t = parseInt(jQuery(this).index()) + 1;
    jQuery('td:nth-child(' + t + ')').removeClass('highlighted');
});
</script>